.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #333;
  background: linear-gradient(135deg, #e0f7fa 0%, #ffffff 100%);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #004080;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #003366;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #555;
}

.charts-and-counts-container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.chart {
  flex: 1;
  max-width: 300px;
  min-width: 250px;
  padding: 35px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counts-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.count-item1 {
  background-color: #fbe3e3;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1;
  min-width: 180px;
  max-width: 250px;
}
.count-item2 {
  background-color:  #fff0af;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1;
  min-width: 180px;
  max-width: 250px;
}
.count-item3 {
  background-color:#d5ffcf;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1;
  min-width: 180px;
  max-width: 250px;
}


.count-item h3 {
  font-size: 1.3rem;
  color: #004080;
}

.count-item p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #008080;
}

.table-container {
  width: 100%;
  max-width: 1200px;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  text-align: left;
  font-size: 1.1rem;
}

th {
  background-color: #004080;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0f7fa;
}

@media (max-width: 768px) {
  .charts-and-counts-container {
    flex-direction: column;
  }

  .count-item {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .table-container {
    overflow-x: auto;
  }

  table {
    display: block;
    width: 100%;
    white-space: nowrap;
  }
}
