/* ProfileHeader.css */
.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    height: 5vh;
    width: calc(100% - 250px); /* Adjusted for sidebar width */
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    left: 250px; /* Align with the sidebar */
    z-index: 1000;
    transition: left 0.3s ease;
  }
  
  .profile-header.collapsed {
    left: 80px; /* Align with collapsed sidebar */
    width: calc(100% - 80px); /* Adjust width for collapsed sidebar */
  }
/* ProfileHeader.css */
.profile-avatar {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 35px;
}

.profile-avatar img {
    width: 40px;  
    height: 40px; /* Adjust the height as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    margin-right: 5px; /* Reduce this to move the username closer to the avatar */
}

.profile-avatar span {
    font-size: 16px; /* Adjust the font size as needed */
    color: #000; /* You can customize the color if needed */
    white-space: nowrap; /* Prevents the text from wrapping */
}


  .page-content {
    flex: 1;
    transition: margin-left 0.3s ease;
    margin-left: 250px;
    padding-top: 4vh; /* To account for the fixed header */
    background-color: #f5f5f5;
  }
  
  .page-content.collapsed {
    margin-left: 80px;
  }
  
  @media (max-width: 1200px) {
    .page-content {
      margin-left: 80px;
    }
  
    .profile-header {
      left: 80px;
      width: calc(100% - 80px);
    }
  }
  
  @media (max-width: 900px) {
    .page-container {
      flex-direction: column;
    }
  
    .page-content {
      margin-left: 0;
    }
  
    .profile-header {
      left: 0;
      width: 100%;
    }
  }
  